<!DOCTYPE html>
<html>
    <%- include('_partial/head') %>
    <body>
      <%- include('_partial/header') %>
        <div class="container">
            <div class="content">
              <%- body %>
            </div>
        </div>
      <%- include('_partial/footer') %>
    </body>
</html>
