<footer class="footer">
    <ul class="d-flex flex-row justify-content-center text-muted">
      <li class="d-block"><span class="oi oi-person"></span></span>TJ</li>
      <li class="d-block"><span class="oi oi-envelope-closed"></span>happyxxj123@gmail.com</li>
    </ul>
</footer>
