.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.demo-content{
  list-style: none;
  text-align: left;
}
.demo-content>li {
  border-bottom: 1px solid #222;
  padding: 20px 0
}
